ipython>=8.10
jupyterlab>=3.0
kedro~=0.19.13
notebook
pandas
numpy
pycountry
scikit-learn
plotly
torch
pytorch_tabnet
keybert
tqdm
sentence-transformers
kedro-datasets
openpyxl
pyarrow
s3fs
kedro-viz
python-dotenv
dash
matplotlib
dash-bootstrap-components
wordcloud
dash_bootstrap_templates
boto3